.MainPanel {
    width: 100%; 
    /* background-color: rgb(234, 231, 241); */
}

.ContentWrapper {
    background: #0c17b41b;
    padding: 1rem 1rem 1rem 1rem;
    
    width: 100%;
    -webkit-flex-grow: 1;
    border-radius: 25px;
    flex-grow: 1;
    
 }

 .ContentWrapperHeader{
  background: #20038cde;
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  width: 97.5%;
  -webkit-flex-grow: 1;
  /* border-radius: 25px; */
  flex-grow: 1;
 }

 .insideTableDateTime{
  display: block;
  min-width: 150px;
  height: calc(2rem + .25rem + 2px);
  padding: 1rem ;
  font-size: 0.9rem;
  font-weight: 400;
  color: #2d2d2e;
  background-color: #F7F7F7;
  border: 1px solid #0000002a;
  border-radius: 5px;
  /* background-image: url('../../../../assets/images/calendarIcon.gif'); */
  background-repeat: no-repeat;
  background-position: 110%;
  background-size: 90px;
  outline: 0;
  cursor: pointer;
}

.PageTitle {
    color: rgb(54, 50, 50);
    
    font-weight: 900;
    font-display: inherit;
    border: #0000002a;
    margin: 0; 
}

  .Card  {
    margin-right: 0;
    margin-left: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
}

.CardBody {
    flex: 1 1 auto;
    padding: 1.25rem; }

.Col75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    padding: 0 16px;
      }

.Col50 {
-ms-flex: 50%; /* IE10 */
flex: 50%;
padding: 0 16px;
}

.Col5 {
    -ms-flex: 5%; /* IE10 */
    flex: 5%;
    padding: 0 16px;
    }

    .Container {
        background-color: #f2f2f24d;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
}

.FormGroup {
    margin-bottom: 1rem; }

.Error{
  color:rgb(134, 34, 129);
}

.searchIconText {
  display: block;
  width: 100%;
  height: calc(1.0rem + 0.9rem + 1px);
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.5;
  color: #2d2d2e;
  background-color: #F7F7F7;
  border: 1px solid #0000002a;
  border-radius: .25rem;
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 17px;
  outline: 0;
}

.datepicker {
  background-color: #F7F7F7;
}


.buttonSave{
  box-sizing: border-box;
  height: 40px;
  width: 80px;
  background-color: #0077C8;
  border: 1px solid #0077C8;
  /* box-shadow: 3px 3px 9px 0 rgba(1,1,1,0.14); */
  border-radius: 8px;
  color: #ffffff;
  margin: 5px;
  font-size: medium;
}

.buttonCancel{
  box-sizing: border-box;
  height: 40px;
  width: 80px;
  background-color: #ffffff;
  /* box-shadow: 3px 3px 9px 0 #0077C8; */
  border: 1px solid #0077C8;
  border-radius: 8px;
  color: #0077C8;
  margin: 5px;
  font-size: medium;
}
